<%- include('./header.ejs') %>

<style>
    	*{
			margin: 0px;
			padding: 0px;
		}
		.z{
		   height: 600px;
		   width: 100%;
		   background-image: url(assets/images/contactus.jpg);
		   background-repeat: no-repeat;
		   background-size: cover;
           background-position: center;
		}
		.z h2{
			margin-top: 150px;
            color: white;
            font-size: 65px;
            font-family: cursive;
		}
		.z p{
			text-align: center;
			font-family: cursive;
			color: white;
			font-size: 19px;
		}
		.y{
			background-color: whitesmoke;
			border-radius: 20px;
		}
		.y hr{
			width: 30%;
            border: 1px solid black;
            margin-left: 185px;
		}
		@media(max-width: 700px){
		.y hr{
			width: 32%;
            border: 1px solid black;
            margin-left: 135px;
}
		}
</style>

<div class="container-fluid z">
   
</div>
<div class="container y mt-5">
    <div class="row ">
        <div class="col-md-1"></div>
        <div class="col-md-5 mt-3">
            <h4 class="text-center">Get In Touch</h4>
            <p class="text-center">Feel free to drop us a line below!</p>
            <form class="">
                <label class="mt-2">Name:</label>
                <input type="text" name="" class="form-control mt-2">
                <label class="mt-2">Email:</label>
                <input type="Email" name="" class="form-control mt-2">
                <label class="mt-2">Write your query here:</label><br>
                <textarea cols="5" rows="3" class="form-control mt-2"></textarea>
                <button class=" btn btn-outline-secondary mt-3">Send message</button>
            </form>
        </div>
        <!-- <div class="col-md-1 mt-3"></div> -->
        <div class="col-md-5 mt-3">
            <h3 class="text-center">Contact us</h3><hr>
               <h6 class="mt-2"><b>Address:</b></h6>
               <p>A6-block/286 Near shiv Mandir<br> West Paschim Vihar Delhi.</p>
               <h6 class="mt-2"><b>Email:</b></h6>
               <p>sourav28@gmail.com</p>
               <h6 class="mt-2"><b>Mobile No:</b></h6>
               <p>636907088</p>
               <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14001.476872056735!2d77.10231!3d28.6786!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x417f16b645f0adac!2sPaschim%20Vihar%20West!5e0!3m2!1sen!2sin!4v1647711200604!5m2!1sen!2sin" width="400" height="150" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
        </div>
        <div class="col-md-1 mt-3"></div>
    </div>
    <br><br>
</div>


<%- include('./footer.ejs') %>