<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title></title>
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
        integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
    <title>Admission portal</title>
    <link rel="icon" href="/assets/images/ap1.png">
    <!-- JavaScript Bundle with Popper -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script> 
    <style type="text/css">
        .nav-link {
            font-family: cursive;
            font-size: 17px;
        }

        .dropdown-item button {
            background-color: #16616f;
            text-align: center;
            color: white;
            font-family: cursive;
        }

        /*.dropdown-menu btn{
             background-color: #16616f;
             text-align: center;
             color: yellowgreen;
         }*/
        .modal-header {
            background-color: #16616f;
            color: darkgray;
        }

        .modal-header h4 {
            font-family: cursive;
        }

        .navbar {
            background-color: #16616f;
            /* background-color:  #1d3955; */
        }

        ul li a {
            font-size: 16px;
        }
        .d-flex button {
            font-family: cursive;
            border-radius: 20px;
        }

        .d-flex input {
            font-family: cursive;
            border-radius: 20px;
        }

        .a {
            background-image: url(image/learing.jpg);
            background-repeat: no-repeat;
            width: 100%;
            height: 500px;
            background-size: cover;
            background-position: center;
        }

        @media(max-width: 700px) {
            .a {
                background-image: url(image/learing.jpg);
                background-position: initial;
            }
        }

        .a {

            width: 100%;
            height: 450px;

        }

        @media(max-width: 700px) {
            .a {
                width: 100%;
                height: 109px;
                margin-bottom: -10px;
            }
        }

        .card {
            margin-top: 120px;
            margin-right: 100px;
        }

        .card-body p {
            text-align: center;
        }

        @media(max-width: 700px) {
            .card {
                margin-left: 40px;
                margin-right: 40px;
                margin-top: 100px;
            }
        }

        .c h2 {
            font-size: bold;
            color: #16616f;
            ;
            font-family: cursive;
        }

        .c h3 {
            font-family: cursive;
        }

        .c p {
            font-family: cursive;
        }

        .c hr {
            width: 30%;
            margin-left: 460px;
            border: solid 1px;
            border-color: black;
        }

        @media(max-width: 600px) {
            .c hr {
                width: 80%;
                margin-left: 40px;
                border: solid 1px;
                border-color: black;
            }
        }

        .overlay-text {
            position: relative;
            margin-top: -282px;
            left: 0;
            margin-left: 450px;
            margin-right: 450px;
        }

        .overlay-text.text-center {
            background-color: #00000054;
            padding: 42px 0;
            border-radius: 25px;
        }


        .container {
			font-family: cursive;
		}
		ul li{
			list-style: none;
		}
		ul a{
			text-decoration: none;
			color: white;
		}
		/*.container-fluid{
			background-color: black;
		}
		.con{
			background-color: #16616f;
		}
		.row{
			margin-top: 50px;
		}*/
		ul hr{
			color: white;
			width: 150px;
			border: solid 1px;
			margin-left: 60px;
		}
		@media(max-width: 700px){
			ul hr{
			color: white;
			width: 95px;
			border: solid 1px;
			margin-left: 105px;
		}
        .navbar-brand {
            padding-top: 0.3125rem;
            padding-bottom: 0.3125rem;
            margin-right: 24rem;
            font-size: 2.25rem;
            text-decoration: none;
            white-space: nowrap;
        }
        .nav-link{
            font-family: cursive;
            font-size: 24px;
        }


		}
    </style>



</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light">
        <div class="container-fluid">
            <a class="navbar-brand" style="margin-left: 15px; font-family: cursive; font-size: 1.8rem; margin-right: 24rem;" href="/home">Admission <span
                    style=" color: white;">Portal</span></a>
            <button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navbar"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link text-white active text-center" aria-current="page" href="/home">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black text-center" href="/about">About</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black text-center" href="/contact">Contact</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link text-black text-center">Blog</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <button type="button" class="btn btn-outline-info me-2">
                      <a href="/logout" class="text-decoration-none text-light"> Logout</a>
                    </button>
                    <button class="btn btn-outline-info me-2" type="button"><%= n %></button>                
                </form>
            </div>
        </div>
    </nav>
</body>
